@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.PickupForm {
  font-family: 'Open Sans', sans-serif;
  display: block;
  margin-top: 10em;
}

#save {
  font-family: 'Open Sans', sans-serif;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  left: 40%;
  right: 40%;
  top: 75%;
  width: 10%;
}

.newPickuph1 {
  text-align: center;
  margin-block-start: 4em;
  position: relative;
  font-size: 43px;
  color: #666666!important;
}