@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.SinglePickup {
  display: block;
  font-family: "Open Sans", sans-serif;
}

#pickupImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.singlep {
  text-align: center;
}