@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.SinglePickup {
  display: block;
  font-family: "Open Sans", sans-serif;
}

#pickupImg {
  display: flex;
  justify-content: center;
}