@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.MyPickups {
  font-family: 'Open Sans', sans-serif;
  margin-top: 2%;
}

.stuff {
  margin-top: 3%;
}

.MyPickups {
  display: block;
}

#MyAccounth1 {
  text-align: center;
}

#schedulebtn {
  font-family: 'Open Sans', sans-serif;
  text-align: center!important;
  margin-top: 10%;;
  position: fixed;
  margin: 0 auto;
  left: 35%;
  right: 35%;
  top: 90%;
  width: 20%;
  }