@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.Testimonals {
  display: block;
}

.testimonialsh1Id {
  text-align: center;
  margin-block-start: 2em;
  position: relative;
  font-size: 43px;
  color: #666666!important;
}

.testimonialsinnerText{
  text-align: left;
  position: relative;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7em;
}

// .testimonialCol {
//   box-sizing: border-box;
//   }

.tblurb-top {
text-align: center;
}

.tblurb-content {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  color: #666666!important;
}


#tblurbImgId1 {
  max-width: 80%;
  height: auto;
  margin-bottom: 30px;
}

// .image-wrap {
//   display: block;
//   margin: auto;
// }

// .tblurb-description {
//   flex-wrap: wrap;
// }