@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.NavBar {
  display: block;
}

nav ul {
  position: sticky;
  top: 0;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  border-right: .5px groove black;
  padding-left: 25px!important;
  padding-right: 25px!important;
  margin-top: 0%;
  line-height: 15%;
  color: black;
}

.sticky {
  top: 0;
  width: 100%;
  height: 5%;
  position: fixed;
  z-index: 10;
}

#tacoBell {
  line-height: 0!important;
  margin-top: 1%;
  background-color: transparent!important;
}

#logoImgId {
    width: 50%;
    height: auto;
}

.logo {
  max-width: 30%!important;
}

