@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.Recycling {
  display: block;
}

.recyclingh1Id{
  position: relative;
  text-align: center;
  font-size: 43px;
  color: #666666!important;
}

.recycleCol {
box-sizing: border-box;
}

.blurb-top {
text-align: center;
}

.blurb-content {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.blurb-image {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 30px;
  line-height: 0;
}

.image-wrap {
  display: block;
  margin: auto;
}

.blurb-description {
  flex-wrap: wrap;
}